@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    var errormessage = TempData["Error"];
    var success = TempData["SignUpSuccess"];
}


<div class="container login-container">
    @if (TempData["SignUpSuccess"] != null)
    {
        <div class="alert alert-warning">
            <span>@TempData["SignUpSuccess"]</span>
            <script>alert(@success)</script>
        </div>
    }

    @if (TempData["Incorrect"] != null)
    {
        <div class="alert alert-warning">
            <span>@TempData["Incorrect"]</span>
            <script>alert(@TempData["Incorrect"])</script>
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            <span>Sorry! - @TempData["Error"]</span>
            <script>alert(@errormessage)</script>
        </div>
    }

    @if (TempData["NotAdmin"] != null)
    {
        <div class="alert alert-warning">
            <span>@TempData["NotAdmin"]</span>
            <script>alert(@TempData["NotAdmin"])</script>
        </div>
    }
 <div class="row justify-content-center">
        @*<div class="col-md-6 login-form-1">
            <h3>Employee Login</h3>
            <form asp-controller="Login" method="post">
                <div class="form-group">
                    <input type="text" class="form-control m-2" placeholder="Your Username *" value="" asp-for="EmployeeLogin.Username" required/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control m-2" placeholder="Your Password *" value="" asp-for="EmployeeLogin.Password" required/>
                </div>
                <div class="form-group m-3">
					<input asp-action="Login" type="submit" class="btnSubmit" value="Login" />
					<p class=" m-1">New Here? Then please <a asp-controller="EmployeePersonal" asp-action="EmployeeRegistration">SignUp</a> </p>
                </div>
            </form>
        </div>*@
        <div class="col-md-6 login-form-2">
            <h3>Login</h3>
			<form asp-controller="Login" class="pt-1" method="post">
				<div class="form-group text-light row my-3 justify-content-between">
                    <label class="col-5 me-2"><input type="radio" class="" value="Employee" asp-for="LoginType" checked /> Employee</label>
					<label class="col-5 me-2"><input type="radio" class="" value="Admin" asp-for="LoginType" /> Admin</label>
				</div>
                <div class="form-group">
                    <input type="text" id="username" class="form-control my-3" placeholder="Username *" value="" asp-for="Username" required/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control my-3" placeholder="Password *" value="" asp-for="Password" required />
                </div>
                
                <div class="form-group row justify-content-center">
                    <input asp-action="Login" id="LoginSubmit" type="submit" class="btnSubmit" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>