
<style>
    .regularizelink {
        visibility: hidden;
    }

    .regularize:hover > td > .regularizelink {
        visibility: visible;
    }
</style>
<table>
<tbody>
		@foreach (var attendance in Model.AttendanceList)
		{
			<tr class="regularize">
				<td class="date">@attendance.Date.ToString("dd/MMM/yyyy")</td>
				<td>@attendance.CheckIn.ToString("hh:mm:ss")</td>
				<td>@attendance.CheckOut.ToString("hh:mm:ss")</td>
				<td>@attendance.Status</td>
				@if (attendance.ModifiedBy == null)
				{
					<td style="padding-left:3.3vw;"><img width="20" height="20" src="/confirm-icon_black.svg"></td>
				}
				else
				{
					<td>
						<span class="regularizelink">
							<a href="@Url.Action("RegularizeFromEntryPartial", "AttendancePersonal",
					new { EmployeeID = attendance.EmployeeID, AttendanceID = attendance.AttendanceID })" rel="modal:open">Regularize</a>
							@*@Html.ActionLink("Regularize", "RegularizeEntry", "AttendancePersonal",
					new { EmployeeID = attendance.EmployeeID, AttendanceID = attendance.AttendanceID }, null)*@
						</span>
					</td>
				}
			</tr>
		}
</tbody>
</table>