@model EmployeeAdminViewModel

@section head{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;700&display=swap" rel="stylesheet">
}

<style>
    /*.attendancelink {
        visibility: hidden;
    }

    .attendance:hover > td > .attendancelink {
        visibility: visible;
    }*/

    

    h1{
        font:700;
    }

    table{
        border-radius: 10px;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d0e5f6;
    }
    
    th,td{
        padding-left: 2vw !important;
    }
</style>

@section header{}

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <h1 align="center">Employees List</h1>
            <div class="col-md-12">                
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table id="myTable" class="table table-bordered table-striped table-hover bg-light" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Employee Name</th>
                                    <th>Designation</th>
                                    <th>Contact Number</th>
                                    <th>Admin Status</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                               @* @foreach (var employee in Model)
                                {
                                    <tr class="attendance">
										<td><a href="@Url.Action("EmployeeDetailsUpdate","EmployeeAdmin",new{ EmployeeID = employee.EmployeeID})"><strong>@employee.EmployeeID</strong></a></td>
                                        <td>@employee.FirstName @employee.LastName </td>
                                        <td>@employee.Designation</td>
                                        <td>@employee.MobileNumber</td>
                                        <td>@if (employee.AdminStatus){<span style="color:blue">true</span>}</td>
                                        <td><span class="attendancelink">
												<a href="@Url.Action("EmployeeAttendanceList","AttendanceAdmin",new{ EmployeeID = employee.EmployeeID, EmployeeName =employee.FirstName})"><strong>View<br>Attendance</strong></a>
                                            </span>
                                        </td>
                                    </tr>
                                }*@
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
<script>
    function employeeTable() {
			$.ajax({
				type: "GET",
                url: "/EmployeeAdmin/EmployeeListPartial",
				dataType: 'json',
				data: '',
				success: function (data) {
					var rows = "";
					for (var x = 0; x < data.length; x++) {
						rows += "<tr class=''>"
                        rows += "<td><a style='text-decoration:none' href='/EmployeeAdmin/EmployeeDetailsUpdate?EmployeeID="+data[x].employeeID+"'><strong>" + data[x].employeeID + "</strong></a></td>"
						rows += "<td>" + data[x].firstName +"&nbsp;"+ data[x].lastName + "</td>"
						rows += "<td>" + data[x].designation + "</td>"
						rows += "<td>" + data[x].mobileNumber + "</td>"
						if (data[x].adminStatus == true)
						{rows += '<td><span style="color:blue">true</span></td>'}
						else
						{rows += "<td> </td>"}
                        rows += "<td><a href='/AttendanceAdmin/EmployeeAttendanceList?EmployeeID="+data[x].employeeID+"'><strong class='btn btn-outline-primary' style='font-size:0.9rem'>View Attendance</strong></a></td>"
						rows += "</tr>";
					};
					$('#myTable tbody').html(rows);
					$('#myTable').dataTable({
					});
				},
				error: function (ex) {
					//console.log(error);
					var r = jQuery.parseJSON(response.responseText);
					alert("Message: " + r.Message);
					alert("StackTrace: " + r.StackTrace);
					alert("ExceptionType: " + r.ExceptionType);
				}
			});
		};

        $(document).ready(function () {
            employeeTable();
        });
</script>
}